@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@using DotNetDevLottery.Models

<div class="container">
    <div class="button-row">
        <FluentButton Appearance="Appearance.Accent" OnClick="@(() => TargetPersonCount--)" IconOnly="true">
            <span>-</span>
        </FluentButton>
        <span>
            @TargetPersonCount
        </span>
        <FluentButton Appearance="Appearance.Accent" OnClick="@(() => TargetPersonCount++)" IconOnly="true">
            <span>+</span>
        </FluentButton>
        <FluentButton
            OnClick="OnClickButton"
            Appearance="@(Status == DrawMachineStatus.Pending ? Appearance.Neutral : Appearance.Accent)"
            class="@TriggerButtonClass(Status == DrawMachineStatus.Pending)">
            추첨 진행
        </FluentButton>
    </div>
    <div class="machine-wrapper">
        <div class="machine" @ref="machineElement" style="@BallStyleVariables" />
    </div>
</div>
