@page "/"
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IEventService EventService

<div class="container">
    <ui-button-group class="event-company">
        @foreach (var eventInfo in EventService.EventInfos.Select((value, index) => new { value, index }))
        {
            <ui-button variant="@InfoButtonVariant(selectedEventCompanyIndex == eventInfo.index)"
                fill="@InfoButtonTreatment(selectedEventCompanyIndex == eventInfo.index)"
                onclick="@(() => OnClickIndexButton(eventInfo.index))">
                @eventInfo.value.name
            </ui-button>
        }
    </ui-button-group>
    <ui-dropzone @ref="dropzoneElement" class="file-dropzone">
        @if (targetFile == null)
        {
            <span>
                파일을 끌어다가 놓아주세요!
            </span>
        }
        else
        {
            <span class="file-dropzone__filename">
                @targetFile.Name
            </span>
        }
        <ui-button variant="primary" fill="fill" @onclick="OnClickFileButton">
            혹은 파일 직접 찾아보기
        </ui-button>
        <InputFile type="file" @ref="inputFileElement" class="file-dropzone__input" OnChange="@OnInputFileInput" />
    </ui-dropzone>
    @if (isSecondFilterOpened)
    {
        <div>
            <div class="form-row">
                @foreach (var groupName in groupNames.Select((value, index) => new { value, index }).ToArray())
                {
                    <ui-checkbox checked="@filterGroup[groupName.index]" @onchange="@(() => OnChangeCheckbox(groupName.index))">
                        @groupName.value
                    </ui-checkbox>
                }
            </div>
            <div class="form-row">
                <ui-checkbox checked="@filterCheckedIn" @onchange="OnChangeFilterCheckInCheckbox">
                    체크인 한 사람만 포함
                </ui-checkbox>
            </div>
            <div class="form-row">
                <ui-button variant="accent" @onclick="OnClickGoNextPageButton">
                    이동
                </ui-button>
            </div>
        </div>
    }
    else
    {
        <div class="button-row">
            <ui-button variant="primary" fill="outline" @onclick="OnClickNextButton" disabled="@isLoading">
                @(isLoading ? "가져오는 중" : "다음")
            </ui-button>
        </div>
    }
</div>
