@page "/random"
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IEventService EventService

<div class="container">
    <MachineAnimation @ref="machineAnimation" UserInfoList="@UserInfoList.ToArray()" OnBeforeDrawMachine="OnBeforeDrawMachine"
        OnDrawAnimationEnd="OnDrawAnimationEnd" />
    <FluentDivider Orientation="Orientation.Vertical" Style="height: 100%;" />
    <div class="text">
        <h2 class="text-row">@PersonCount 명 중에 당첨자에요!</h2>
        <div class="record">
            @foreach (var WinnedUserInfo in WinnedUserList)
            {
                <div class="record-row">
                    <span>@WinnedUserInfo.personName</span>
                    <span>@WinnedUserInfo.email</span>
                    <span>@(string.IsNullOrEmpty(WinnedUserInfo.phone) ? "-" : WinnedUserInfo.phone)</span>
                </div>
            }
        </div>
    </div>
</div>
<dotlottie-wc @ref="animationElement" class="@EffectClass(IsPlayAnimation)" autoplay="false"
    src="/assets/tada.lottie" />
