@page "/random"
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IEventService EventService
<div class="container">

    <MachineAnimation UserInfoList="@UserInfoList.ToArray()" OnBeforeDrawMachine="OnBeforeDrawMachine"
        OnDrawAnimationEnd="OnDrawAnimationEnd" />
    <ui-divider vertical />
    <div class="text">
        <h2 class="text-row">@PersonCount 명 중에 당첨자에요!</h2>
        <div class="record">
            @foreach (var WinnedUserInfo in WinnedUserList)
            {
                <div class="record-row">
                    <span>@WinnedUserInfo.personName</span>
                    <span>@WinnedUserInfo.email</span>
                    <span>@WinnedUserInfo.phone</span>
                </div>
            }
        </div>
    </div>
</div>
<dotlottie-wc @ref="animationElement" class="@EffectClass(IsPlayAnimation)" autoplay="false"
    src="/assets/tada.lottie" />
